body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-main-container {
  width: 100%;
    overflow: hidden;
    position: relative;
    max-width: 1170px;
    margin: 0 auto;
}
.app-content{
  width: calc(100% - 300px);
  float: right;
  padding: 4em 2.5em;
}

